<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2.0 Login</title>
    <script type="text/javascript">
        window.onload = function () {
            window.login = function () {
                var authForm = document.getElementById("oauth_form");
                authForm.submit();
            }
        }
    </script>
</head>
<body>
<div>
    <form id="oauth_form" name="oauth_form" action="/oauth2/auth_code" method="post">
        <div>
            <p class="oauth_main_info">OAuth2.0 Login.html</p>
            <div>
                <input type="hidden" name="response_type" th:value="${response_type}"/>
                <input type="hidden" name="redirect_uri" th:value="${redirect_uri}"/>
                <input type="hidden" name="client_id" th:value="${client_id}"/>
                <input type="hidden" name="state" th:value="${state}"/>
                <div>
                    <p>
                        <label>帐号：</label>
                        <input type="text" id="username" name="username" value="root"/>
                    </p>
                    <p>
                        <label>密码：</label>
                        <input type="password" id="password" name="password" value="123456"/>
                    </p>
                    <p>
                        <label>授权范围：(有bug,后台只接到第一个勾选的值)</label><br/>
                        <input type="checkbox" name="scope" value="scope-1"/>scope-1
                        <input type="checkbox" name="scope" value="scope-2"/>scope-2
                        <input type="checkbox" name="scope" value="scope-3"/>scope-3
                        <input type="checkbox" name="scope" value="scope-4"/>scope-4
                    </p>
                </div>

                <div>
                    <div>
                        <p>
                            <a onclick="return login();" node-type="submit"
                               action-type="submit" href="javascript:void(0)">授权并登陆</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>